/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

 #jost {

    font-family: 'Jost', sans-serif;
    font-weight: 400;

 }

 #rajdhani {
  font-family: 'Rajdhani', sans-serif;
   font-weight: 700;
 }

 #rajdhani-400 {
  font-family: 'Rajdhani', sans-serif;
   font-weight: 400;
 }

 #fogra{
  background-color: #050505;
 }

 #blue {
   background-color: #1B9AAA;
 }

 #bone {
  background-color:#DDDBCB;
 }

 #goldenrod {
  background-color: #71697A;
 }

 #text-gray {
   color: #2C423F;
 }
